## Comment
#parse('/mlh/rd/global/mlh.vtl')
#set($currentVersion="v1")
#set($overrideDefaultCssFile="")
#set($overrideTemplateCssFile="")
#set($mlhDotCmsUser = $cmsuser.getUserByEmail("gregory.jordan@mlh.org"))