#set($width = ${width})
#set($height = ${height})
#set($thumbnailWidth = ${thumbnailWidth})
#set($thumbnailHeight = ${thumbnailHeight})
#set($autoStart = ${autoStart})
#set($indexFolder=$videoFolderPath)
#videoGallery($indexFolder)
