#set($serverName = $request.getServerName())

#if($serverName.endsWith("lebonheur.org"))
    #parse('/mlh/_lebonheur/detail/NewsArticle_detail.vtl')
#elseif($serverName.endsWith("methodisthealth.org"))
    #parse('/mlh/_methodisthealth/detail/NewsArticle_detail.vtl')
#elseif($serverName.endsWith("gomolli.org"))
    #parse('/mlh/_gomolli/detail/NewsArticle_detail.vtl')
#elseif($serverName.endsWith("methodistmd.org"))
    #parse('/mlh/_methodistmd/detail/NewsArticle_detail.vtl')
#end
