## 600 = 5min , 7200 = 120min (2hr)
#dotcache("methodisthealth-main-navigation",7200)

	<div id="menuBarBackground">
		<div id="menuBar" class="container_16 clearfix">
			<div id="menu" class="menu menu_dropdown">
				
				#set($openAllLevels=true)
				#navigation(2,2)
				
			</div>
		  </div>
	</div>
	
#end
